<a href='/'>Home</a>
<h1>Shelters Index</h1>
<% @shelters.each do |shelter| %>
  <h3> <%= link_to shelter.name, "/shelters/#{shelter.id}" %> <%= link_to "Edit", "shelters/#{shelter.id}/edit"</h3>
<% end %>
<a href='/shelters/new'>Add new shelter</a>
